

langchain 
langsmith 
langchain-google-genai 
langchain-core 
langchain-community 
langchain-openai 
langchain-anthropic 
langchain-fireworks 
langchain-groq 
langchain-weaviate 
langgraph 
beautifulsoup4 
weaviate-client 
lxml 
voyageai 
pillow 
psycopg2-binary  
langchainhub 

pytest 
ruff 
pandas 

